POSTGRES_USER=postgres
POSTGRES_PASSWORD=123456
POSTGRES_DB=marketing_svn
PORT=3000

EMAIL_REMETENTE=remetente@email.com
EMAIL_SENHA=senha_email
EMAIL_DESTINATARIO=destinatario@email.com
EMAIL_HOST=smtp.email.com
EMAIL_PORT=587