# Dependências
node_modules/

# Variáveis de ambiente
.env

# Arquivos gerados (output do Faker e do Python)
output/

# Python
__pycache__/
*.pyc
*.pyo
.venv/
venv/

# Sistema operacional
.DS_Store
Thumbs.db
